body{
    background-color: rgb(11, 11, 82);
    color: rgb(214, 210, 210);
}

nav{
    padding: 5px;
    line-height: 30px;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
}

header{
    text-align: center;
}